body{
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
header{
  padding-top: 3.125em;
  padding-bottom: 3.125em;
  background-color: #02ad9c;
  color: white;
}
.profileimg{
  width:9.375em;
  height:9.375em;
  border-radius: 50em;
  border: 0.25em solid white;
  margin-bottom: 0.625em;
}
header p{
  font-size: 1.125em;
}
.name{
  font-size: 1.5625em;
}
.presc{
  font-size: 2em;
}
.facebook,
.upwork{
  border: solid thin #fff;
  border-radius: 0.25em;
  color: white;
  font-size: 1.125em;
  padding: 0.3125em 0.625em;
  display: inline-block;
  margin-top: 0.3125em;
}

main{
  background-color:white;
}
h1{
  color: #5A646E;
  font-size: 1.875em;
}
hr{
  width: 20em;
  border-bottom: 0.125em solid #8a949e;

}
.jsbtn,
.allbtn{
  border: solid thin #5A646E;
  border-radius: 0.25em;
  color: #5A646E;
  background-color: #f9f9f9;
  font-size: 1.125em;
  padding: 0.3125em 0.625em;
  display: inline-block;
  margin-bottom: 0.3125em;
  outline: none !important ;
}
.jsbtn:hover,
.allbtn:hover{
  border: solid thin #5A646E;
  color: #f9f9f9;
  background-color: #5A646E;
}
.desc{
  color: white;
  background-color: #5A646E;
  width: 25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  display:flex;
  align-items: center;
  justify-content: center;
}
.htmlsamples{
  /*background-color: grey;*/
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.JSsamples{
  /*background-color: grey;*/
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.project{
  background-color:rgba(0, 0, 0, 0.33);
  border-radius: 0.5em;
  width:25em;
  height: 15em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;

}
.view{
  text-decoration: none;
  border: solid thin #fff;
  border-radius: 0.25em;
  color: white;
  font-size: 1em;
  font-weight: 500;
  display: none;
}
.view:hover{
  color: white;
  background-color: #337ab7;
  border: solid thin #337ab7;
}
.project:hover .view{
  display: block;
}
.project:hover{
  background-blend-mode:overlay;
}

/*html projects*/
.tribute{
  background-image: url("tributepage.PNG");
  background-position: center;
  background-size: 100% 100%;
}
.careers{
  background-image: url("careerspage.PNG");
  background-position: center;
  background-size: 100% 100%;
}
.house{
  background-image: url("granny-house.png");
  background-position: center;
  background-size: 100% 100%;
}
.news{
  background-image: url("news-page.PNG");
  background-position: center;
  background-size: 100% 100%;
}
.ecommerce{
  background-image: url("ecommerce-index.PNG");
  background-position: center;
  background-size: 100% 100%;
}

/*JS prjects*/
.quote{
  background-image: url("Random Quote Machine.PNG");
  background-position: center;
  background-size: 100% 100%;
}
.twitch{
  background-image: url("Twitchtv JSON API.PNG");
  background-position: center;
  background-size: 100% 100%;
}
.chatbox{
  background-image: url("chatbox.PNG");
  background-position: center;
  background-size: 100% 100%;
}
.wikipedia{
  background-image: url("Wikipedia viewer.PNG");
  background-position: center;
  background-size: 100% 100%;
}
.weatherapp{
  background-image: url("weatherapp.PNG");
  background-position: center;
  background-size: 100% 100%;
}
footer{
  background-color: #353434;
  color: white;
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
  border-top: solid 0.25em #02ad9c;
}
@media (max-width:428px) {
  .desc{
    font-size: 0.9em;
  }
}
@media (max-width:400px) {
  .project{
    height: 10em;
  }
}
@media (max-width:388px) {
  .desc{
    font-size: 0.75em;
  }
}
@media (max-width:300px) {
  .desc{
    font-size: 0.71em;
  }
}
